certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.3
django-allauth==0.39.1
django-braces==1.13.0
django-ckeditor==5.7.1
django-crispy-forms==1.7.2
django-debug-toolbar==2.0
django-js-asset==1.2.2
django-model-utils==3.2.0
django-private-chat==0.2.2
django-tinymce4-lite==1.7.5
django-translatable-fields==0.0.1
filelock==3.0.12
idna==2.8
importlib-metadata==0.18
jsmin==2.2.2
oauthlib==3.0.1
packaging==19.0
Pillow==6.0.0
pluggy==0.12.0
psycopg2==2.8.3
py==1.10.0
pyparsing==2.4.0
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
tox==3.13.1
urllib3==1.25.3
virtualenv==16.6.1
websockets==3.2
zipp==0.5.1
