{% extends "courses/layouts/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <h1>Détail du cours</h1>
            <a href="{{ object.get_absolute_url }}">{{ object }}</a>
            <div class="card" style="width: 18rem;">
                <img src="{{ object.image_url|default_if_none:'#' }}" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text">
                        {{ object.description|safe }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-8">
            <div class="list-group">
                {% for section in object.sections %}
                    <div href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section {{ section.position }}</h5>
                            <small>Gratuit</small>
                        </div>
                        <div class="list-group list-group-flush">
                            {% for lesson in section.lessons %}
                                <a class="list-group-item list-group-item-action" href="{{ lesson.get_absolute_url }}">{{ lesson.position }}. {{ lesson.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}