{% extends "courses/layouts/base.html" %}

{% block title %}
    Bienvenue sur Stekos DEV
{% endblock %}

{% block content %}
    <div class="row">
        <h3 class="container-fluid">Cours - Gagnez de l'expérience rapidement</h3>
        <div class="col-sm-4 col-md-4">
            {% for object in object_list %}
                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                <div class="card" style="width: 18rem;">
                    <img src="{{ object.image_url|default_if_none:'#' }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text">
                            {{ object.description|safe }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}